<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Inspection Report</title>
    </head>
    <body>
        <table border="border" style="font-size:9px" cellspacing="0">
            <tr style="font-size:11px" height="25">
                <th colspan="1" width="200px"> <img src="{{url_for('static',filename='img/lapplogo.png')}}"
                    alt="can't display" width="100" height="10"> <br>
                    ÖLFLEX® CONNECT</th>
                <th colspan="9" width="800px">INSPECTION REPORT</th>
            </tr>
            <tr>
                <th colspan="2" width="200px">LAPP PART NUMBER :</th>
                <td colspan="5" width="400px" align="center">A</td>
                <th width="200px">Date</th>
                <td colspan="2" width="300px" align="center"></td>
            </tr>
            <tr>
                <th colspan="2" width="200px">SUPPLIER PART NUMBER:</th>
                <td colspan="5" width="400px" align="center">A</td>
                <th width="100px">GRN no.</th>
                <td colspan="2" width="300px" align="center">A with PO</td>
            </tr>
            <tr>
                <th colspan="2" width="200px">Supplier Name :</th>
                <td colspan="5" width="400px" align="center">A</td>
                <th width="100px">Quantity</th>
                <td colspan="2" width="300px" align="center"></td>
            </tr>
            <tr>
                <th colspan="2" width="200px">P.O / INVOICE NUMBER : </th>
                <td colspan="8" width="800px" align="center">A with GRN no.</td>
            </tr>
        </table>


        <table border="border" style="font-size:9px" cellspacing="0">
            <tr>
                <th colspan="1" rowspan="2" width="100px">Baloon No / Visual	</th>
                <th colspan="1" rowspan="2" width="100px">Spec.as per DWG</th>
                <th colspan="1" rowspan="2" width="100px">Tolerance</th>
                <th colspan="1" rowspan="2" width="100px">Instrument used</th>
                <th colspan="6" rowspan="1" width="600px">Observation</th>
            </tr>
            <tr>
                <th width="100px">1</th>
                <th width="100px">2</th>
                <th width="100px">3</th>
                <th width="100px">4</th>
                <th width="100px">5</th>
                <th width="100px">Remark</th>
            </tr>
            {% for i in range(5) %}
            <tr align="center">
                <td>A</td>
                <td>A</td>
                <td>A</td>
                <td>A</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            {% endfor %}
            <tr>
                <th colspan="10" style="font-size:10px" height="15">VISUAL DEFECTS</th>
            </tr>
            {% for i in range(5) %}
            <tr align="center">
                <td height="10" width="100px"></td> <!-- {{i+1}} -->
                <td width="100px"></td>
                <td width="100px"></td>
                <td width="100px"></td>
                <td width="100px"></td>
                <td width="100px"></td>
                <td width="100px"></td>
                <td width="100px"></td>
                <td width="100px"></td>
                <td width="100px"></td>
            </tr>
            {% endfor %}
            <tr>
                <th rowspan="1">Note</th>
                <td colspan="9">
                    1. Technical Specification is as per Data sheets <br>
                    2. Inspection will be done as per sampling plan, Readings will be note down for 5 samples only. <br>
                </td>
            </tr>
        </table>


        <table border="border" style="font-size:9px" cellspacing="0">
            <tr>
                <th colspan="10" width="100px" style="font-size:10px" height="15">NON-CONFIRMITY DURING INSPECTION</th>
            </tr>
            <tr>
                <th width="100px">SL NO</th>
                <th width="100px">INVOICE NO</th>
                <th width="300px">DEFECT DETAILS</th>
                <th width="200px">REJECTED QTY</th>
                <th width="200px">INSPECTED BY</th>
                <th width="200px">REMARKS</th>
            </tr>
            {% for i in range(3) %}
            <tr align="center">
                <td>{{i+1}}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            {% endfor %}
            <tr>
                <th width="100px" colspan="1" height="20">CHECKED BY:</th>
                <td width="100px" colspan="2"></td>
                <th width="100px" colspan="1">APPROVED BY:</th>
                <td width="100px" colspan="2"></td>
            </tr>
        </table>
    </body>
</html>
